NEXT_PUBLIC_API_URL=https://abbado-draft-production.up.railway.app
NEXT_PUBLIC_SUPABASE_URL=https://ebcyqxhqelebavqeswum.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImViY3lxeGhxZWxlYmF2cWVzd3VtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NTcyMTMsImV4cCI6MjA5MDEzMzIxM30.OXHoSY1sJnCEh1f2DGRjOm27eHqr5ak5iSfGzFdlJtQ
